# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/NetCoreTest1/NetCoreTest1/ScaffoldingReadMe.txt
/NetCoreTest1/NetCodeBase/bin/Debug/netcoreapp2.0
/NetCoreTest1/NetCodeBase/obj
/NetCoreTest1/NetCodeBus/obj
/NetCoreTest1/NetCodeBus/bin/Debug/netcoreapp2.0
/NetCoreTest1/NetCoreTest1/bin/Debug/netcoreapp2.0
/NetCoreTest1/NetCoreTest1/logfile
/NetCoreTest1/NetCoreTest1/obj
/NetCoreTest1/NetCoreTest1/NetCoreTest1.csproj.user
/NetCoreTest1/NetCoreTest1/netcoretest.csproj.user
/NetCoreTest1/NetCoreTest1/log-file.log
/NetCoreTest1/.vs
/.vs
